<h4 class="text-center">Sign up and show your skin</h4>

<form class="form mt-4" [formGroup]="signUpForm" (submit)="signUp()">
  <div class="form-group">
    <input
    placeholder="E-mail"
    class="form-control"
    formControlName="email"
    />
    <app-message
      *ngIf="
      signUpForm.get('email')?.errors?.['required'] &&
      signUpForm.get('email')?.touched
      "
      message="E-mail is required"
    ></app-message>
    <app-message
      *ngIf="
      signUpForm.get('email')?.errors?.['email'] &&
      signUpForm.get('email')?.touched
      "
      message='Invalid E-mail'
    ></app-message>
  </div>
  <div class="form-group">
    <input
      placeholder="Full name"
      class="form-control"
      formControlName="fullName"
    />
    <app-message
      *ngIf="
        signUpForm.get('fullName')?.errors &&
        signUpForm.get('fullName')?.touched
      "
      message="Type at least 5 characters"
    ></app-message>
  </div>
  <div class="form-group">
    <input
      placeholder="User name"
      class="form-control"
      formControlName="userName"
    />
    <app-message
      *ngIf="
      signUpForm.get('userName')?.errors?.['lowerCase'] &&
      signUpForm.get('userName')?.touched
      "
      message="Type your name using lower case"
    ></app-message>
    <app-message
      *ngIf="
      signUpForm.get('userName')?.errors?.['userExistent']
      "
      message="User already exists. :/"
    ></app-message>
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Password"
      class="form-control"
      formControlName="password"
    />
    <app-message
      *ngIf="signUpForm.errors?.['passwordEqualsUser']"
      message="User name and password must be different!"
    ></app-message>
  </div>
  <button class="btn btn-primary">Sign-up</button>
</form>

<p>Already registred?<a [routerLink]="['']"> Login!</a></p>
